<%- contentFor('side_bar')  %>
<%- include('../../views/partials/side_bar.ejs', { screen_code: 'orders' }); %>

<%- contentFor('body')  %>
<link rel="stylesheet" href="/public/plugins/toastr/toastr.min.css">

<!-- Content Header (Page header) -->
<% const screen_title = (typeof title !== 'undefined' ) ? title :  "Orders"%>
<%- include('../partials/content/content_header.ejs', { title: screen_title  }) %>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">

        <!-- TODO: query can be paginated -->
        <!-- TODO: can search with client name or order id -->
        <form action="/dashboard/products" method="GET">
          <div class="input-group">
            <input id="search" name="search_query" value="<%= query || '' %>" type="search" class="form-control form-control-md" aria-label="Text input with dropdown button" placeholder="Search orders..." disabled>
            <div class="input-group-append">
              <button type="submit" class="btn btn-info"><i class="fa fa-search"></i></button>
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show Options</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="?delivered=true"> <i class="fa fa-truck"></i> Delivered Orders</a>
                <a class="dropdown-item" href="?deleted=true"> <i class="fa fa-trash"></i> Deleted Orders</a>
                <a class="dropdown-item" href="/dashboard/orders"> <i class="fa fa-check"></i> Active Orders</a>
                <!-- <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a> -->
              </div>
            </div>
          </div>
        </form>


        <div class="dropdown-divider" style="margin: 1rem 0;"></div>

        <div class="card-body p-0">

          <!-- TODO: fix the columns flex spaces -->
          <table class="table table-striped table-bordered" id="orders_table">


            <thead class="thead-dark">
              <tr>

                <th>#</th>
                <th>No. items</th>
                <th>Total Price</th>
                <th>Ordered At</th>
                <th>Options</th>

              </tr>
            </thead>
            <tbody>
              <% for (let i= 0; i <orders?.length ?? 0; i++) { %>
              <% const order= orders[i]; %>
              <% const createdAt= order.createdAt; %>

              <tr>

                <th> <%= order._id.toString().slice(-4) %> </th>
                <td> <%= order.items.length %> </td>
                <td> <%= order.total %> </td>
                <td><%= moment(createdAt).format( 'MMM-DD-YYYY') %></td>

                <td class="project-actions text-center position-relative">
                  <% if(order.deleted) { %>
                  <div class="ribbon-wrapper ribbon-sm">
                    <div class="ribbon bg-danger text-sm">Deleted</div>
                  </div>

                  <form action="orders/<%=order._id%>/recover" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <button type="submit" class="btn btn-danger btn-sm mb-1"><i class="fas fa-redo"></i> Recover</button>
                  </form>

                  <%} else { %>
                  <button type="button" class="btn btn-danger btn-sm" id="delete-btn" onclick="event.preventDefault();clickOnDelete('<%= order._id %>')"><i class="fas fa-trash"></i> Delete</button>
                  <a href="orders/<%= order._id  %>/update_status" class="btn btn-info btn-sm"><i class="fas fa-edit"></i> Update Status</a>
                  <% }%>

                  <a href="orders/<%= order._id  %>" class="btn btn-success btn-sm"><i class="fas fa-eye"></i> View</a>

                </td>

              </tr>
              <% } %>
            </tbody>
          </table>

          <% if(orders.length === 0) { %>

          <p style=" margin: 1.5rem;text-align: center; font-weight: bold;">No orders found</p>

          <% } %>

          <div class="card-footer clearfix">
            <%- include('../partials/paginator.ejs', { data, url }); %>
          </div>

        </div>
      </div>


    </div>

  </div>
  <!--/. container-fluid -->
</section>
<!-- /.content -->

<form id="delete-order-form" action="" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <div class="modal fade" id="modal-delete-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Order</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this order with id <span id="deleted-order-_id"> dummy </span> ?</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="confirm-delete">Delete</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</form>




<script>
  let currentOrderId;

  function clickOnDelete(orderId) {
    currentOrderId = orderId
    $('#modal-delete-default').modal('show')
    $('#deleted-order-_id').text(orderId)
  }

  $('#confirm-delete').click(function() {
    const form = $('#delete-order-form')
    form.attr('action', `orders/${currentOrderId}/delete`)
    form.submit()
  })
</script>